name: ci

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 0

    - name: Set up environment variables
      id: vars
      shell: bash
      run: |
        SHORT_SHA=$(git rev-parse --short HEAD)
        echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_OUTPUT
        cd Broadcaster
        TAG_NAME=$(git tag --points-at HEAD)
        echo "TAG_NAME=$TAG_NAME" >> $GITHUB_OUTPUT
        ARTIFACT_NAME="Broadcaster_with_SRV-$TAG_NAME+$SHORT_SHA"
        echo "ARTIFACT_NAME=$ARTIFACT_NAME" >> $GITHUB_OUTPUT
        echo "Artifact name will be: $ARTIFACT_NAME"

    - name: Validate Gradle Wrapper
      uses: gradle/actions/wrapper-validation@v4

    - name: Patch codes
      run: |
        cd Broadcaster
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git am < ../0001-srv-patch.patch

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: temurin

    - name: Get previous build number
      id: getPreviousBuild
      run: |
        cd Broadcaster
        PREVIOUS_TAG=$(git for-each-ref --sort=-version:refname --count 1 --format="%(refname:short)" "refs/tags/*")
        echo result=${PREVIOUS_TAG} >> $GITHUB_OUTPUT

    - name: Get current build number
      id: getCurrentBuild
      if: success()
      env:
        PREVIOUS_BUILD: ${{ steps.getPreviousBuild.outputs.result }}
      run: |
        cd Broadcaster
        echo result=$((++PREVIOUS_BUILD)) >> $GITHUB_OUTPUT

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build
      run: |
        cd Broadcaster
        ./gradlew build
        cp bootstrap/standalone/build/libs/MCXboxBroadcastStandalone.jar ..
      env:
        BUILD_NUMBER: ${{ steps.getCurrentBuild.outputs.result }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.vars.outputs.ARTIFACT_NAME }}
        path: |
          config.yml
          LICENSE
          MCXboxBroadcastStandalone.jar
        if-no-files-found: error
